<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>СКУТ веб-интерфейс {{ mrfName }}</title>

    <script src="{{url_for('static', filename='js/jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/auth.js')}}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>

    <div id="app" class="bg-light-gray min-height-100vh">
        <div class="p-0 bg-color-white container">
            <div class="row"><div class="col">
                <nav class="navbar pb-1 pt-1 navbar-dark bg-danger navbar-expand-md">
                    <a href="/" class="navbar-brand router-link-exact-active router-link-active" target="_self">
                        <img src="{{url_for('static', filename='img/RTLogo.png')}}" height="48" alt="РТ" class="mb-1">
                        <span class="align-middle pb-1">СКУТ МРФ {{ mrfName }}</span>
                    </a>
                    
                    <a href="/logout" class="nav-link" target="_self">Выход
                    </a>
                </nav>

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>