<!-- templates/login.html -->

{% extends "base.html" %}

{% block head %}
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">-->
{% endblock %}

{% block content %}
    <div class="bg-color-white min-height-100vh container">
        <div class="row mt-2 mb-3 py-3 bg-light rounded border row-panel align-items-center">
            <div class="col">
                <strong class="mr-2">Система:</strong>СКУТ МРФ {{ mrfName }}
            </div>
            <div class="col">
                <strong class="mr-2">Филиалов:</strong>
                <span class="badge badge-secondary">10</span>
            </div>
            <div class="col">
                <strong class="mr-2">Таксофонов:</strong>
                <span class="badge badge-secondary">25824</span>
            </div>
            <div class="d-flex justify-content-end col-2">
                <button id="refresh_data" type="button" class="btn btn-outline-info border-0 btn-sm">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Обновить
                </button>
            </div>
        </div>

        <div class="row mt-2 mb-3 py-3 bg-light rounded border row-panel align-items-center">
            <div class="col-2">
                <strong class="mr-1">Доступность:</strong>
            </div>
            <div class="col">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="pr-0 text-right font-weight-bold percentWidth col-auto">
                            <span class="text-right text-success">
                                96.53% <!--TODO: проценты доступности-->
                            </span>
                        </div>

                        <div class="pl-2 progressWidth col">
                            <div class="border progress border-success">
                                <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="96.53" class="progress-bar bg-success" style="width: 96.53%;"> <!--TODO: проценты доступности-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="px-0 col">
                <div class="tabs m-0" style="height: 100%;" id="tabs">
                    <div class="">
                        <ul class="nav nav-tabs" id="tabs_controls">
                            <li class="nav-item">
                                <a class="nav-link bg-default text-secondary active" data-toggle="tab" href="#regions_tab">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                    Филиалы
                                    <span class="mx-3">
                                        <span class="badge badge-secondary badge-pill">
                                            10
                                        </span>
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link bg-default text-secondary" data-toggle="tab" href="#devices_tab">
                                    <i class="fa fa-cube" aria-hidden="true"></i>
                                    Устройства
                                    <span class="mx-3">
                                        <span class="badge badge-secondary badge-pill">
                                            25824
                                        </span>
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link bg-default text-secondary" data-toggle="tab" href="#types_tab">
                                    <i class="fa fa-cubes" aria-hidden="true"></i>
                                    Типы оборудования
                                    <span class="mx-3">
                                        <span class="badge badge-secondary badge-pill">
                                            4
                                        </span>
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link bg-default text-secondary" data-toggle="tab" href="#map_tab">
                                    <i class="fa fa-map" aria-hidden="true"></i>
                                    Карта
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link bg-default text-secondary" data-toggle="tab" href="#reports_tab">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                    Отчёты
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="tabs_container">
                        <div class="tab-pane fade show active" id="regions_tab">
                            <p>ФИЛИАЛЫ</p>
                        </div>

                        <div class="tab-pane fade" id="devices_tab">
                            <p>УСТРОЙСТВА</p>
                        </div>

                        <div class="tab-pane fade" id="types_tab">
                            <p>ТИПЫ ОБОРУДОВАНИЯ</p>
                        </div>

                        <div class="tab-pane fade" id="map_tab">
                            <div class="container-fluid">
                                <div class="row mb-2 justify-content-center">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div id="map" style="height: 600px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="reports_tab">
                            <p>ОТЧЁТЫ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}