<!-- templates/login.html -->

{% extends "base.html" %}

{% block head %}
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">-->
{% endblock %}

{% block content %}
    <div class="bg-color-white min-height-100vh container">
        <div class="row mt-2 mb-3 py-3 bg-light rounded border row-panel align-items-center">
            <div class="col">
                <strong class="mr-2">Система:</strong>СКУТ МРФ {{ mrfName }}
            </div>
            <div class="col">
                <strong class="mr-2">Филиалов:</strong>
                <span class="badge badge-secondary">{{ data['regions'] | count }}</span>
            </div>
            <div class="col">
                <strong class="mr-2">Таксофонов:</strong>
                <span class="badge badge-secondary">{{ data['regions'] | sum(attribute='total') }}</span>
            </div>
            <div class="d-flex justify-content-end col-2">
                <button id="refresh_data" type="button" class="btn btn-outline-info border-0 btn-sm">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Обновить
                </button>
            </div>
        </div>

        {% set total_percent = (data['regions'] | sum(attribute='percent') / data['regions'] | count) | round(2) %}
        {% set total_percent_color = 'danger' %}

        {% if (total_percent >= 95 and total_percent <= 95.5) %}
            {% set total_percent_color = 'warning' %}
        {% elif total_percent > 95.5 %}
            {% set total_percent_color = 'success' %}
        {% endif %}

        <div class="row mt-2 mb-3 py-3 bg-light rounded border row-panel align-items-center">
            <div class="col-2">
                <strong class="mr-1">Доступность:</strong>
            </div>
            <div class="col">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="pr-0 text-right font-weight-bold percentWidth col-auto">
                            <span class="text-right text-{{ total_percent_color }}">
                                {{ total_percent }}%
                            </span>
                        </div>

                        <div class="pl-2 progressWidth col">
                            <div class="border progress border-{{ total_percent_color }}">
                                <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{ total_percent }}" class="progress-bar bg-{{ total_percent_color }}" style="width:{{ total_percent }}%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="px-0 col">
                <div class="tabs m-0" style="height: 100%;" id="tabs">
                    <div class="">
                        <ul class="nav nav-tabs" id="tabs_controls">
                            <li class="nav-item">
                                <a class="nav-link bg-default text-secondary active" data-toggle="tab" href="#regions_tab">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                    Филиалы
                                    <span class="mx-3">
                                        <span class="badge badge-secondary badge-pill">
                                            {{ data['regions'] | count }}
                                        </span>
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link bg-default text-secondary" data-toggle="tab" href="#devices_tab">
                                    <i class="fa fa-cube" aria-hidden="true"></i>
                                    Устройства
                                    <span class="mx-3">
                                        <span class="badge badge-secondary badge-pill">
                                            {{ data['regions'] | sum(attribute='total') }}
                                        </span>
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link bg-default text-secondary" data-toggle="tab" href="#types_tab">
                                    <i class="fa fa-cubes" aria-hidden="true"></i>
                                    Типы оборудования
                                    <span class="mx-3">
                                        <span class="badge badge-secondary badge-pill">
                                            {{ data['device_types'] | count }}
                                        </span>
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link bg-default text-secondary" data-toggle="tab" href="#map_tab">
                                    <i class="fa fa-map" aria-hidden="true"></i>
                                    Карта
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link bg-default text-secondary" data-toggle="tab" href="#reports_tab">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                    Отчёты
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="tabs_container">
                        <div class="tab-pane fade show active" id="regions_tab">
                            <div>
                                <table role="table" aria-busy="false" aria-colcount="4" class="table b-table mt-3 table-sm" id="regions_table">
                                    <thead>
                                        <tr>
                                            <!--<th role="columnheader" scope="col" aria-colindex="1" aria-label="Is Selected" class="align-middle" style="width: 50px !important;">
                                                <div data-v-baf8c540="" class="flex-vertical-center flex-center">
                                                    <div data-v-baf8c540="" class="mx-2 custom-control custom-checkbox">
                                                        <input type="checkbox" autocomplete="off" class="custom-control-input" value="true" id="__BVID__45">
                                                        <label class="custom-control-label" for="__BVID__45">
                                                        </label>
                                                    </div>
                                                </div>
                                            </th>-->
                                            <th role="columnheader" scope="col" aria-colindex="1" class="align-middle">Филиал</th>
                                            <th role="columnheader" scope="col" aria-colindex="2" class="align-middle">Доступность</th>
                                            <!--<th role="columnheader" scope="col" aria-colindex="3" class="align-middle">Лотов</th>--> <!--считаю этот показатель бесполезным-->
                                            <th role="columnheader" scope="col" aria-colindex="3" class="align-middle">Устройств</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for region in data['regions'] %}
                                        <tr>
                                            <td aria-colindex="1" role="cell" class="align-middle">
                                                <i class="fa fa-building" aria-hidden="true"></i>
                                                {{ region['name'] }}
                                            </td>
                                            
                                            <td aria-colindex="2" role="cell" class="align-middle">
                                                {% set region_percent = region['percent'] | float %}
                                                {% set region_percent_color = 'danger' %}
                                                
                                                {% if (region_percent >= 95 and region_percent <= 95.5) %}
                                                    {% set region_percent_color = 'warning' %}
                                                {% elif region_percent > 95.5 %}
                                                    {% set region_percent_color = 'success' %}
                                                {% endif %}
                                                <div class="row justify-content-center">
                                                    <div style="overflow:auto;width:100%;">
                                                        <div style="display:inline-block;width:75px;">
                                                            <div class="pr-0 text-left font-weight-bold percentWidth col-auto">
                                                                <span class="text-left text-{{ region_percent_color }}">
                                                                    {{ region_percent }}%
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div style="display:inline-block;width:125px;">
                                                            <div class="border progress border-{{ region_percent_color }}">
                                                                <div  aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{ region_percent }}" class="progress-bar bg-{{ region_percent_color }}" style="width:{{ region_percent }}%;">
                                                                </div>
                                                            </div>
                                                        </div>                                           
                                                    </div>
                                                </div>
                                            </td>

                                            <td aria-colindex="3" role="cell" class="align-middle">
                                                {{ region['total'] }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>    
                            </div>
                        </div>

                        <div class="tab-pane fade" id="devices_tab">
                            <div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <form class="my-2 form-inline">
                                                <div role="group" class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">Показывать</div>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <select class="custom-select custom-select-sm" id="devices_per_page">
                                                            <option value="20">20</option>
                                                            <option value="40">40</option>
                                                            <option value="60">60</option>
                                                            <option value="100">100</option>
                                                            <!--<option value="0">Все</option>-->
                                                        </select>
                                                    </div>
                                                </div>

                                                {% set default_devices_per_page_count = 20 %}

                                                {% if data['devices_total_count'] > 0 %}
                                                <ul role="menubar" aria-disabled="false" aria-label="Pagination" class="pagination m-0 ml-3 b-pagination pagination-sm">
                                                    <li id="pagination_first" role="presentation" class="page-item disabled" data-page="1">
                                                        <a role="menuitemradio" target="_self" href="#" class="page-link">«</a>
                                                    </li>
                                                    <li id="pagination_prev" role="presentation" class="page-item disabled" data-page="1">
                                                        <a role="menuitemradio" target="_self" href="#" class="page-link">‹</a>
                                                    </li>

                                                    <li id="pagination_one" role="presentation" class="page-item active" data-page="1">
                                                        <a role="menuitemradio" target="_self" href="#" class="page-link">1</a>
                                                    </li>

                                                    {% if data['devices_total_count'] > 1 %}
                                                    <li id="pagination_two" role="presentation" class="page-item" data-page="2">
                                                        <a role="menuitemradio" target="_self" href="#" class="page-link">2</a>
                                                    </li>
                                                    {% else %}
                                                    <li id="pagination_two" role="presentation" class="page-item disabled" data-page="2">
                                                        <a role="menuitemradio" target="_self" href="#" class="page-link">2</a>
                                                    </li>
                                                    {% endif %}

                                                    {% if data['devices_total_count'] > 2 %}
                                                    <li id="pagination_three" role="presentation" class="page-item" data-page="3">
                                                        <a role="menuitemradio" target="_self" href="#" class="page-link">3</a>
                                                    </li>
                                                    <li id="pagination_next" role="presentation" class="page-item" data-page="2">
                                                        <a role="menuitemradio" target="_self" href="#" class="page-link">›</a>
                                                    </li>
                                                    <li id="pagination_last" role="presentation" class="page-item" data-page="{{ (data['devices_total_count'] / default_devices_per_page_count) | round(0, 'ceil') | int }}">
                                                        <a role="menuitemradio" target="_self" href="#" class="page-link">»</a>
                                                    </li>
                                                    {% else %}
                                                    <li id="pagination_three" role="presentation" class="page-item disabled" data-page="3">
                                                        <a role="menuitemradio" target="_self" href="#" class="page-link">3</a>
                                                    </li>
                                                    <li id="pagination_next" role="presentation" class="page-item disabled">
                                                        <a role="menuitemradio" target="_self" href="#" class="page-link">›</a>
                                                    </li>
                                                    <li id="pagination_last" role="presentation" class="page-item disabled">
                                                        <a role="menuitemradio" target="_self" href="#" class="page-link">»</a>
                                                    </li>
                                                    {% endif %}
                                                    
                                                </ul>
                                                {% endif %}

                                            </form>
                                        </div>

                                        <div class="d-flex col">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <form class="form-inline">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" autocomplete="off" class="custom-control-input" value="true" id="with_photo_only">
                                                            <label class="custom-control-label" for="with_photo_only">
                                                                Только устройства без фотографий
                                                            </label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-end align-items-start col-2">
                                            <button type="button" class="btn btn-outline-info border-0 btn-sm">
                                                <i class="fa fa-refresh" aria-hidden="true"></i>
                                                Обновить
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-3 table-responsive">
                                    <table role="table" aria-busy="false" aria-colcount="9" class="table b-table table-sm" id="devices_table">
                                        <thead role="rowgroup" class="">
                                            <tr role="row" class="">
                                                <th role="columnheader" scope="col" aria-colindex="1" class="" style="min-width: 7rem;">
                                                    Устройство
                                                </th>
                                                <th role="columnheader" scope="col" aria-colindex="2" class="" style="min-width: 8rem;">
                                                    Доступность
                                                </th>
                                                <th role="columnheader" scope="col" aria-colindex="3" class="" style="min-width: 9rem;">
                                                    ID
                                                </th>
                                                <th role="columnheader" scope="col" aria-colindex="4" class="" style="min-width: 8rem;">
                                                    Абонентский номер
                                                </th>
                                                <th role="columnheader" scope="col" aria-colindex="5" class="" style="min-width: 8rem;">
                                                    Тип линии связи
                                                </th>
                                                <th role="columnheader" scope="col" aria-colindex="6" class="" style="min-width: 5rem;">
                                                    Версия ПО
                                                </th>
                                                <th role="columnheader" scope="col" aria-colindex="7" class="" style="min-width: 14rem;">
                                                    Адрес
                                                </th>
                                                <th role="columnheader" scope="col" aria-colindex="8" class="">
                                                    Последняя отзвонка
                                                </th>
                                                <th role="columnheader" scope="col" aria-colindex="9" class="">
                                                    Статус
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="devices_table_body">
                                            {% for device in data['devices'] %}
                                            <tr role="row">
                                                <td aria-colindex="1" role="cell">
                                                    <i class="fa fa-phone-square" aria-hidden="true"></i> 
                                                    {{ device['phone_type'] }}
                                                </td>
                                                <td aria-colindex="2" role="cell"> {{ device['month_availability'] }}</td>
                                                <td aria-colindex="3" role="cell"> {{ device['id'] }}</td>
                                                <td aria-colindex="4" role="cell"> {{ device['number'] }}</td>
                                                <td aria-colindex="5" role="cell"> {{ device['line_type'] }}</td>
                                                <td aria-colindex="6" role="cell"> {{ device['sw_version'] }}</td>
                                                <td aria-colindex="7" role="cell"> {{ device['address'] }}</td>
                                                <td aria-colindex="8" role="cell"> {{ device['last_call_date'] }}</td>
                                                <td aria-colindex="9" role="cell"> {{ device['state'] }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="types_tab">
                            <div>
                                <table role="table" aria-busy="false" aria-colcount="4" class="table b-table mt-3 table-sm" id="regions_table">
                                    <thead>
                                        <tr>
                                            <th role="columnheader" scope="col" aria-colindex="1" class="align-middle">Модель</th>
                                            <th role="columnheader" scope="col" aria-colindex="2" class="align-middle">Количество</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for device_type in data['device_types'] %}
                                        <tr>
                                            <td aria-colindex="1" role="cell" class="align-middle">
                                                <i class="fa fa-phone-square" aria-hidden="true"></i> 
                                                {{ device_type['name'] }}
                                            </td>
                                            <td aria-colindex="2" role="cell" class="align-middle">
                                                {{ device_type['total'] }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="map_tab">
                            <div class="container-fluid">
                                <div class="row mb-2 justify-content-center">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div id="map" style="height: 600px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="reports_tab">
                            <div>
                                <div class="row mt-2 mb-3"><div class="col">
                                    <div class="col">
                                        <div class="card w-100 bg-light">
                                            <div class="card-body py-2 px-3">
                                                <div class="container-fluid">
                                                    <div class="row align-items-center" style="min-height: 90px;">
                                                        <div class="col-4">
                                                            <h5 class="m-0">Результаты отзвонки по дням</h5>
                                                        </div>

                                                        <div class="col">
                                                        </div>

                                                        <div class="col-3">
                                                            <a href="/" class="btn text-left ml-2 btn-primary btn-block" target="_self">
                                                                <i class="fa fa-play" aria-hidden="true"></i>
                                                                Сформировать отчёт
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}