<!-- templates/login.html -->

{% extends "base.html" %}

{% block head %}
    <script src="{{url_for('static', filename='js/users.js')}}"></script>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">-->
{% endblock %}

{% block content %}
    <div class="row my-3 py-1">
        <div class="col">
            <h2>Управление пользователями</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="ml-auto col-auto">
            <button id="create_user" type="button" class="btn btn-outline-success">
            Создать пользователя
            </button>
        </div>
    </div>

    <div class="row mb-3 py-3">
        <div class="col">
            <table role="table" aria-busy="false" aria-colcount="7" class="table b-table table-sm">
                <thead role="rowgroup" class="">
                    <tr role="row" class="">
                        <th role="columnheader" scope="col" aria-colindex="1" class="">ID</th>
                        <th role="columnheader" scope="col" aria-colindex="2" class="">Логин</th>
                        <th role="columnheader" scope="col" aria-colindex="3" class="">Фамилия</th>
                        <th role="columnheader" scope="col" aria-colindex="4" class="">Имя</th>
                        <th role="columnheader" scope="col" aria-colindex="5" class="">Отчество</th>
                        <th role="columnheader" scope="col" aria-colindex="6" class="">Роль</th>
                        <th role="columnheader" scope="col" aria-colindex="7" class="">Действия</th>
                    </tr>
                </thead>
                <tbody role="rowgroup">
                    {% for user in data['interface_users'] %}
                        <tr role="row" class="">
                            <td aria-colindex="1" role="cell" class="">{{ user['id'] }}</td>
                            <td aria-colindex="1" role="cell" class="">{{ user['login'] }}</td>
                            <td aria-colindex="1" role="cell" class="">{{ user['surname'] }}</td>
                            <td aria-colindex="1" role="cell" class="">{{ user['name'] }}</td>
                            <td aria-colindex="1" role="cell" class="">{{ user['patronymic'] }}</td>
                            <td aria-colindex="1" role="cell" class="">{{ user['role_name'] }}</td>
                            <td aria-colindex="1" role="cell" class="">
                                <div role="group" class="btn-group">
                                    <button id="edit_user" title="Изменить пользовательские данные" type="button" data-user_id="{{ user['id'] }}" class="btn btn-outline-warning btn-sm">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    <button id="info_user" title="Информация о пользователе" type="button" data-user_id="{{ user['id'] }}" class="btn btn-outline-info btn-sm">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </button>
                                    {% if user['role_id'] != 1 %} <!-- не разрешаем удалять администраторские учётки -->
                                        <button id="delete_user" title="Удалить пользователя" type="button" data-user_id="{{ user['id'] }}" class="btn btn-outline-danger btn-sm">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
    <div id="createModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-success text-white">
                        <h5 class="modal-title">Создание пользователя</h5>
                        <button type="button" aria-label="Close" data-dismiss="modal" class="close text-white">×</button>
                    </div>
                    
                    <div class="modal-body">
                        <form style="width: auto;">
                            <div class="form-row">
                                <div class="col">
                                    <div role="group" class="form-row form-group required" horizontal="true" label-text-align="right">
                                        <label for="loginInput" class="col-4 col-form-label col-form-label-sm font-weight-bold">Логин</label>
                                        <input id="loginInput" type="text" class="form-control form-control-sm">
                                    </div>

                                    <div role="group" class="form-row form-group required" horizontal="true" label-text-align="right">
                                        <label for="nameInput" class="col-4 col-form-label col-form-label-sm font-weight-bold">Имя</label>
                                        <input id="nameInput" type="text" class="form-control form-control-sm">
                                    </div>

                                    <div role="group" class="form-row form-group required" horizontal="true" label-text-align="right">
                                        <label for="surnameInput" class="col-4 col-form-label col-form-label-sm font-weight-bold">Фамилия</label>
                                        <input id="surnameInput" type="text" class="form-control form-control-sm">
                                    </div>

                                    <div role="group" class="form-row form-group" horizontal="true" label-text-align="right">
                                        <label for="patronymicInput" class="col-4 col-form-label col-form-label-sm font-weight-bold">Отчество</label>
                                        <input id="patronymicInput" type="text" class="form-control form-control-sm">
                                    </div>

                                    <div role="group" class="form-row form-group required" horizontal="true" label-text-align="right">
                                        <label for="roleSelect" class="col-4 col-form-label col-form-label-sm font-weight-bold">Роль</label>
                                        <select id="roleSelect" class="custom-select custom-select-sm">
                                            <option selected="selected" disabled="disabled" value=""> -- Выберите роль -- </option>
                                            {% for role in data['system_roles'] %}
                                                <option value="{{ role['id'] }}">{{ role['name'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div role="group" class="form-row form-group required" horizontal="true" label-text-align="right">
                                        <label for="passwordInput" class="col-4 col-form-label col-form-label-sm font-weight-bold">Пароль</label>
                                        <input id="passwordInput" type="password" class="form-control form-control-sm">
                                    </div>

                                    <div role="group" class="form-row form-group required" horizontal="true" label-text-align="right">
                                        <label for="passwordConfirmInput" class="col-4 col-form-label col-form-label-sm font-weight-bold">Подтверждение пароля</label>
                                        <input id="passwordConfirmInput" type="password" class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="col">
                                    <div role="group" class="form-row form-group required" horizontal="true" label-text-align="right">
                                        <label for="emailInput" class="col-4 col-form-label col-form-label-sm font-weight-bold">e-mail</label>
                                        <input id="emailInput" type="email" class="form-control form-control-sm">
                                    </div>

                                    <div role="group" class="form-row form-group required" horizontal="true" label-text-align="right">
                                        <label for="companyInput" class="col-4 col-form-label col-form-label-sm font-weight-bold">Компания</label>
                                        <input id="companyInput" type="email" class="form-control form-control-sm">
                                    </div>

                                    <div role="group" class="form-row form-group required" horizontal="true" label-text-align="right">
                                        <label for="departmentInput" class="col-4 col-form-label col-form-label-sm font-weight-bold">Подразделение</label>
                                        <input id="departmentInput" type="email" class="form-control form-control-sm">
                                    </div>

                                    <div role="group" class="form-row form-group required" horizontal="true" label-text-align="right">
                                        <label for="positionInput" class="col-4 col-form-label col-form-label-sm font-weight-bold">Должность</label>
                                        <input id="positionInput" type="email" class="form-control form-control-sm">
                                    </div>

                                    <div role="group" class="form-row form-group required" horizontal="true" label-text-align="right">
                                        <label for="commentaryInput" class="col-4 col-form-label col-form-label-sm font-weight-bold">Комментарий</label>
                                        <textare id="commentaryInput" class="form-control form-control-sm"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" type="button" class="btn btn-outline-secondary">Отмена</button>
                        <button id="create_user_confirm" type="submit" class="btn btn-success">Создать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}